.float_left {
    float: left;
}

.float_right {
    float: right;
}

 .header_border {
     border: solid 1px;
     padding: 5px;
     margin-left: 5%;
     width: 50%;
 }

 .font_bold{
     font-weight: bold;
 }
 .para{color:#454545;margin-top: 20px;font-weight: bold;}
 .select{font-size: 14px;}
 .display_flex {
     display: flex;
 }
.dropdown{ margin-top:60px;margin-bottom: 40px;}
.dropdownBool{ margin-top:40px;margin-bottom: 40px;}
.marks{margin-top:50px;}
 .w_50{
     width: 50%;
 }

.w_100{
     width: 100%;
 }
  